<!DOCTYPE html>
<html>
  <head>
    <title>Sample_Tweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="header_title">
      <%=link_to "Sample_Tweet",'/', class: "header_title_text" %>
    </div>
    <div class="header_right">
      <%=link_to "投稿",'/', class: "header_right_btn" %>
    </div>
  </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>